body {
  font-size: 16px;
  line-height: calc(16px * 1.125);
  color: black;
  position: absolute;
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: Rubik, sans-serif;
  font-size: 2rem;
  line-height: calc(2rem * 1.125);
}

.button {
  background-color: white;
  margin: 0;
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 50px;
  top: 180px;
  opacity: .8;
}

.button:hover {
  opacity: 1;
}

#left-button {
  left: calc(50vw - 560px / 2);
}

#right-button {
  left: calc(50vw + 569px / 2);
}

.left-rectangle {
  top: 0;
  z-index: 5;
  position: absolute;
  height: 500px;
  width: calc(50vw - 560px / 2);
  background-color: white;
  left: 0%;
}

.right-rectangle {
  top: 0;
  position: absolute;
  z-index: 5;
  height: 500px;
  width: 10000px;
  background-color: white;
  left: calc(50vw + 709px / 2);
}

.all-slides {
  z-index: 0;
  position: relative;
  white-space: nowrap;
  width: 1000px;
  left: calc(50vw - 560px / 2);
  display: block;
}

.slide {
  overflow: hidden;
  text-align: left;
  z-index: 0;
  width: 500px;
  height: 285px;
  background-color: #f1f1f1;
  border-style: solid;
  border-color: #f8f8f8;
  border-width: 0 60px;
  display: inline-block;
  vertical-align: top;
  word-wrap: break-word;
  white-space: normal;
  padding-right: 15px;
  margin: 0;
}

h2 {
  font-weight: 700;
  padding-top: 20px;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

p {
  margin: 0;
  padding-right: 15px;
}

img {
  float: left;
  vertical-align: middle;
  padding: 18px 15px;
}

.move {
  transition: all .5s ease-in-out;
}

.hidden {
  display: none;
}
